{% extends "questionnaire/q_base_narrow.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load q_tags %}


{% block user %}
  <!-- no user section needed for account pages -->
{% endblock %}  {# /user #}

{% block content %}

    <div class="title">
        Are you sure you want to sign out of the ES-DOC Questionnaire?
    </div> <!-- /#title -->


    <div class="row">


        <form class='logout' method='post' action="{% url 'account_logout' %}">
            {% csrf_token %}

            {# the Q tends to explicitly store this item on the request object #}
            {# but allauth embeds it in forms like this #}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

            <div class="col-md-1"><!-- spacer --></div>

            <div class="col-md-5 text-center">
                <input type="submit" value="yes, get me out of here" class="btn btn-primary"/>
            </div>

            <div class="col-md-5 text-center">
                <a href="/" class="btn btn-info">
                  no, I want to stay
                </a>
            </div>

            <div class="col-md-1"><!-- spacer --></div>

        </form>

    </div>

{% endblock %}
