{% extends "questionnaire/q_base_narrow.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load q_tags %}


{% block user %}
  <!-- no user section needed for account pages -->
{% endblock %}  {# /user #}

{% block content %}

    <div class="title">
        ES-DOC Questionnaire Registration
    </div> <!-- /#title -->

    <div class="row>">

        <div class="col-md-12">
            <p>Please use this form to create a user account for the ES-DOC Questionnaire.</p>
            <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
            <p class="info">For the best experience, please use Firefox or Chrome.  These are the browsers we support.</p>
        </div>


        <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">

            {% csrf_token %}

            {# the Q tends to explicitly store this item on the request object #}
            {# but allauth embeds it in forms like this #}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

            <table class="table">
                {% if form.non_field_errors %}
                    <tr>
                        <td colspan="2">
                            <div class="error_wrapper alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% for field in form|get_fields_by_names:"email,username,password1,password2" %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>
                            <span class="required">{{ field.label }}:&nbsp;</span>
                        </td>
                        <td>
                            {{ field }}
                            {% if field.errors %}
                                <br/>
                                {% for error in field.errors %}
                                    <span class="alert-danger">
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                       </td>
                    </tr>
                {% endfor %} {# /field #}
            </table>

            <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>

        </form>

    </div>

{% endblock %}
