[settings]
secret_key=mYsEcReTkEy
static_root=/absolute/path/to/static/files/
allowed_hosts=localhost,127.0.0.1,questionnaire.es-doc.org,test-questionnaire.es-doc.org,cim1-questionnaire.es-doc.org
legacy_host=cim1-questionnaire.es-doc.org

[infrastructure_database]
engine=django.db.backends.postgresql_psycopg2
name=postgresDatabaseName
user=postgresDatabaseUser
password=postgresPassword
host=127.0.0.1
port=5432

[document_database]
engine=mongoengine
name=mongoDatabaseName
host=127.0.0.1
port=27017

[cache]
host=127.0.0.1
port=11211

[tasks]
broker=redis
port=6379

[email]
host=smtp.gmail.com
port=587
username=emailUsername
password=emailPassword

[virtualenv]
path=/absolute/path/to/virtual/python/environment

[help]
email=whoToCallForHelp
code_url=https://github.com/ES-DOC/esdoc-questionnaire
help_url=https://earthsystemcog.org/projects/es-doc-models/questionnaire/help

[debug]
debug=true
profile=false
obfuscate=false
cdn=true
